<h3>Edit Story</h3>
<div class="row">
    <form action="/stories/{{story._id}}" method="POST" class="col s12">
    <!-- the middleware allows us to use the PUT instead of the POST so we can edit values of stories-->
    <!-- This is an alternative of putting frontend javascript, that does an axios http request and changes stuff.-->
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <!--As this is an edit hbs, in the value we use the story that was passed in through stories.js, and "refill" the values for the editing -->
                <input type="text" id="title" name="title" value="{{story.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                <!-- we are wrapping the options -->
                        {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                        {{/select}}
                         </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Story:</h5>
                <textarea id="body" name="body">{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>